body{
    background-color: rgb(208, 255, 255);
}
.card-container{
   
    margin-top: 50px;
 
}

.child-container{
    width: 22.5%;
    height: 65vh;
    border: 1px solid rgb(44, 33, 33);
    background-color: white;
    box-shadow: 15px 18px 25px -1px rgba(0,0,0,0.71);

    /* margin: 10px 50px; */
    margin: 1%;
    border-radius: 10px;
    float: left;
}

.add_cart{
    width: 55%;
    height: 5vh;
    border-radius: 12px;
    background-color: rgb(32, 32, 206);
    text-align: center;
    color: white;
    font-size: 18px;
    
    
}

.cart-container{
    clear: left;
    width: 45%;
    margin: auto;
    border: 2px solid rgb(39, 6, 6);
    border-radius: 10px;
    margin-top: 25px;
    margin-bottom: 10px;
}
.sub-cart{
    display: flex;
    justify-content:space-between;
    background-color: rgb(0, 113, 158);

}

.cart-container-div{
    width: 45%;
    margin: auto;
    border: 3px solid rgb(108, 8, 8);
    margin-bottom: 10px;
    background-color: rgb(160, 204, 205);
    border-radius: 10px;


}

#incr,#decr{
    height: 5vh;
    width: 100px;
    margin: 5px;
    font-size: 26px;
}



/*<==================== media queries...======================> */

@media screen and (max-width:1000px){
    .card-container{
        display: flex;
        flex-direction: column;
        width: 90%;
        margin:auto;
        margin-top: 25px;
    }

   
    .child-container{
        /* margin: 25px 25px; */
        width: 90%;
        margin: auto;
        margin-top: 50px;
        margin-bottom: 20px;
   }
}
