.nav-bar{
    display: flex;
    justify-content:space-around;
    align-items: center;

    border: 2px solid rgb(71, 14, 24);
    background-color: black;
    color: white;
    font-size: 24px;
    margin-top: 5px;
}
.nav-links{
    display: flex;
    align-items: center;
}
.link-div{
    margin: 10px;
    padding: 5px;
 
}
.link{
    color: white;
    text-decoration: none;
}
